{{#if session.currentUser}}

  {{#filter-content content=sortedModel properties='title tags' as |filtered query|}}

    {{input value=query title='Filter jots by title and tags.' placeholder='search jots...' id='search-input'}}

      {{#each filtered as |jot|}}
        <div id='jot-link-{{jot.id}}' class='menu-jot-link' title='{{jot.title}}'>
          <nobr>{{link-to (string-to-length jot.title 18 '...') 'jot' jot.id}}</nobr>
        </div>
      {{/each}}

  {{/filter-content}}

  <p id='new-jot-icon' title='Add new jot'>{{fa-icon 'plus-circle' click=(action 'newJot' bubbles=false)}}</p>

{{/if}}
