{{#if session.isAuthenticated}}

  {{#paper-menu isOpen=false offset='45 -5' as |menu|}}
    {{#menu.trigger}}
      {{#if session.currentUser.photoURL}}
        <img class='md-menu-origin user-photo-icon' src='{{session.currentUser.photoURL}}'>
      {{else}}
        {{paper-icon 'account-circle' class='md-menu-origin'}}
      {{/if}}
    {{/menu.trigger}}
    {{#menu.content width=4 as |content|}}
      {{#content.menu-item onClick='signOut'}}
        {{paper-icon 'clear' class='md-menu-align-target'}}
        Log out
      {{/content.menu-item}}
    {{/menu.content}}
  {{/paper-menu}}

{{else}}
  <p class='index-text-login'>Login</p>
  {{fa-icon 'google' class='google-login-icon' title='Login with a Google account.' click=(action 'signIn' 'google')}}
{{/if}}

{{#if session.isWorking}}
  <div>
    {{paper-icon 'rotate-right' spin=true}}
  </div>
  {{!-- <div class='modal'>
    <div id='login-isWorking-div'>
      {{fa-icon 'circle-o-notch' class='fa-spin'}}
    </div>
  </div> --}}
{{/if}}
