{{#if session.isAuthenticated}}

  {{#if session.isAuthenticated}}
    <div class='nav-icons'>

      {{#if session.currentUser.photoURL}}
        <img id='user-photo-icon' src='{{session.currentUser.photoURL}}'><br>
      {{else}}
        {{fa-icon 'user' id='logged-in-user-icon'}}<br>
      {{/if}}
      {{fa-icon 'fighter-jet' class='logout-icon nav-icon' title='Logout' click=(action 'signOut')}}
    </div>
  {{/if}}

{{else}}

  <p class='nav-icons'>
    {{!-- <div class='login-div'> --}}
      <hr>
      <p class='login-title'>Login</p>
      <hr>
      {{fa-icon 'google' class='login-icon nav-icon' title='Login with Google account.' click=(action 'signIn' 'google')}}
    {{!-- </div> --}}
  </p>

{{/if}}
