{{#if session.isAuthenticated}}

  {{#paper-menu isOpen=false offset='45 -5' as |menu|}}
    {{#menu.trigger}}
      {{#if session.currentUser.photoURL}}
        <img class='md-menu-origin user-photo-icon' src='{{session.currentUser.photoURL}}'>
      {{else}}
        {{fa-icon 'user-o' class='md-menu-origin user-anonymous-icon'}}
      {{/if}}
    {{/menu.trigger}}
    {{#menu.content width=4 as |content|}}
      {{#content.menu-item onClick='toHowTo'}}
        {{paper-icon 'help-outline' title='How to'}}
        How To
      {{/content.menu-item}}

      {{#content.menu-item onClick='toAbout'}}
        {{paper-icon 'info-outline' title='About'}}
        About
      {{/content.menu-item}}

      {{#content.menu-item onClick='toGithub'}}
        {{fa-icon 'github' class='github-icon md-menu-github-icon' title='Github repo'}}
        <span style='position:relative;bottom:4px;'>Github</span>
      {{/content.menu-item}}

      {{#content.menu-item onClick='signOut'}}
        {{paper-icon 'highlight-off' class='md-menu-align-target' title='Log out'}}
        Log out
      {{/content.menu-item}}
    {{/menu.content}}
  {{/paper-menu}}

{{else}}

  <p class='index-text-login'>Login</p>
  {{fa-icon 'google'   class='login-icon google-login-icon'  title='Login with a Google account.'   click=(action 'signIn' 'google')}}
  {{fa-icon 'facebook' class='login-icon fb-login-icon'      title='Login with a Facebook account.' click=(action 'signIn' 'facebook')}}
  {{fa-icon 'github'   class='login-icon github-login-icon'  title='Login with a Github account.'   click=(action 'signIn' 'github')}}
  {{fa-icon 'twitter'  class='login-icon twitter-login-icon' title='Login with a Twitter account.'  click=(action 'signIn' 'twitter')}}
  {{!-- TODO Use an anonymous login for a demo? --}}
  {{!-- {{fa-icon 'user-o'   class='login-icon anon-login-icon'    title='Login anonmymously.'            click=(action 'signIn' 'anonymous')}} --}}

{{/if}}


{{#if session.isWorking}}
  <div>
    {{paper-icon 'rotate-right' spin=true}}
  </div>
{{/if}}
