{{#paper-menu isOpen=false offset='45 -5' as |menu|}}
  {{#menu.trigger}}
    {{#if session.currentUser.photoURL}}
      <img class='md-menu-origin user-photo-icon' src='{{session.currentUser.photoURL}}'>
    {{else}}
      {{fa-icon 'user-o' class='md-menu-origin user-anonymous-icon'}}
    {{/if}}
  {{/menu.trigger}}
  {{#menu.content width=4 as |content|}}
    {{#content.menu-item onClick='toHowTo'}}
      {{paper-icon 'help-outline' title='How to'}}How To
    {{/content.menu-item}}

    {{#content.menu-item onClick='toAbout'}}
      {{paper-icon 'info-outline' title='About'}}About
    {{/content.menu-item}}

    {{#content.menu-item onClick='toGithub'}}
      {{fa-icon 'github' class='github-icon md-menu-github-icon' title='Github repo'}}
      <span style='position:relative;bottom:4px;'>Github</span>
    {{/content.menu-item}}

    {{#if (eq session.provider 'password')}}
      {{#content.menu-item onClick='changePw'}}
        {{paper-icon 'security' class='md-menu-align-target' title='Change password'}}Change Password
      {{/content.menu-item}}
    {{/if}}

    {{#content.menu-item onClick='signOut'}}
      {{paper-icon 'highlight-off' class='md-menu-align-target' title='Log out'}}Log out
    {{/content.menu-item}}
  {{/menu.content}}
{{/paper-menu}}