{{#if session.isAuthenticated}}
  <p class='welcome-message'>Select a Jot or</p>
  <p class='welcome-message'>search for a Jot or</p>
  <p class='welcome-message'>{{fa-icon 'plus-circle' style='color:#1e1'}} adds a new Jot.</p>
  <p class='welcome-message'>Then ...</p>
  <p class='welcome-message'>Select Jot title or tags to edit</p>
  <p class='welcome-message'>Highlight Jot text to format</p>
  <p class='welcome-message'>{{fa-icon 'check-circle-o' style='color:#1e1'}} saved</p>
  <p class='welcome-message'>{{fa-icon 'check-circle-o' style='color:#e11'}} not saved</p>
  <p class='center'>(will autosave or click to save)</p>
  <p class='welcome-message'>{{fa-icon 'fighter-jet' style='color:#e11'}} Log out</p>
  <p class='welcome-message'>{{fa-icon 'times-circle' style='color:#e11'}} destroy Jot ... 4ever</p>
{{else}}
  <p class='welcome-message'>If you see this message, please notify the management.</p>
{{/if}}
