{{#if session.isAuthenticated}}
  <p class="welcome-message-title">Speed Jots</p>
  <p id='index-logo'><img src='assets/favicons/apple-touch-icon-72x72.png'></p>
  <p class='welcome-message-subscript'>Click to come here</p>
  <p class='welcome-message'>Select</p>
  <p class='welcome-message-subscript'>Click group title or Jot title</p>
  <p class='welcome-message'>Search</p>
  <p class='welcome-message-subscript'>Type into `search...` titles and tags</p>
  <p class='welcome-message'>New</p>
  <p class='welcome-message-subscript'>Click {{fa-icon 'plus-circle' style='color:#5a5;'}} for new Jot</p>
  <p class='welcome-message'>Group</p>
  <p class='welcome-message-subscript'>Drag Jot onto any group or {{fa-icon 'clone' style='color:#56e;'}} adds new group</p>
  <p class='welcome-message'>Expand Collapse</p>
  <p class='welcome-message-subscript'>{{fa-icon 'angle-double-down' style='color:#56e;'}} expand all groups<br>{{fa-icon 'angle-double-up' style='color:#56e;'}} collapse all groups</p>
  <p class='welcome-message'>Jot</p>
{{else}}
  <p class='welcome-message'>If you see this message, please notify the management.</p>
{{/if}}
