{{!-- Title and Tags --}}
{{#paper-toolbar accent=true class='md-whiteframe-4dp'}}
  {{input class='jot-input jot-input-title'
          label='Title'
          value=model.title
          required=true
          focus-out='saveJotNow' }}
  {{input class='jot-input jot-input-tags'
          label='Tags'
          value=model.tags
          focus-out='saveJotNow'}}
  {{paper-icon 'check-circle' id='status-icon' title='Save' click=(action 'saveJotNow')}}
{{/paper-toolbar}}
{{!-- end Title and Tags --}}

{{!-- Title and Tags --}}
{{!-- <div class='layout-row layout-fill'>
  <div class='flex-60'>
    {{paper-input class='jot-input jot-input-title'
                  label='Title'
                  value=model.title
                  required=true
                  onChange=(action (mut model.title))
                  onBlur='saveJotNow' }}
  </div>
  <div class='flex-30'>
    {{paper-input class='jot-input'
                  label='Tags'
                  value=model.tags
                  onChange=(action (mut model.tags))
                  onBlur='saveJotNow'}}
  </div>
  <div class='flex-10' id='data-state'>
    {{paper-icon 'check-circle' id='status-icon' title='Save' click=(action 'saveJotNow')}}
  </div>
</div> --}}
{{!-- end Title and Tags --}}

{{!-- Editor --}}
<div id='simditor-editor-div'>
  {{simditor-editor value=model
                    update=(action (mut model.content))
                    toolbar=simditorOptions.toolbar
                    editor=(mut editor)
                    onValuechanged=(action 'saveJotSlow')
                    onBlur=(action 'saveJotNow') }}
</div>

<div class='delete-icon-div'>
  {{#if model.inTrash}}
      {{paper-icon 'delete-forever' class='delete-icon' title='Delete' click=(action 'destroyJot' model)}}
    {{else}}
      {{paper-icon 'delete' class='delete-icon' title='Trash' click=(action 'trashJot' model)}}
  {{/if}}
</div>

{{!-- {{paper-icon 'file-download' class='download-icon' title='Download Jot' click=(action 'dlJot' model)}} --}}

{{!-- <div class='layout-row layout-fill'>
  <div class='flex-80'></div>
  <div class='flex-10'> --}}
  {{!-- </div>
  <div class='flex-10'>
    {{paper-icon 'delete-forever' class='delete-icon' title='Delete' click=(action 'destroyJot' model)}}
  </div>
</div> --}}
{{!-- end Editor --}}
