{{!-- Title and Tags --}}
{{#paper-toolbar accent=true class='md-whiteframe-4dp'}}
  <div class='center'>
    {{input class='jot-input jot-input-title'
            label='Title'
            value=model.jot.title
            required=true
          focus-out='saveJotNow' }}
  </div>
  <div class='center'>
    {{input class='jot-input jot-input-tags'
            label='Tags'
            value=model.jot.tags
            focus-out='saveJotNow'}}
  </div>
  <div class='center'>
    {{#if is-mobile}}
      {{#x-select id='groupSelect' class='jot-input jot-input-tags' value=model.jot.group action='mobileSelectGroup' as |xs|}}
        {{#xs.option value='newGroup_exckbvu45'}}Create a new Group{{/xs.option}}
        {{#each jotsUniq as |jot|}}
          {{#xs.option value=jot.group}}{{jot.group}}{{/xs.option}}
        {{/each}}
      {{/x-select}}
    {{/if}}
  </div>
  {{paper-icon 'check-circle' id='status-icon' title='Save' click=(action 'saveJotNow')}}
{{/paper-toolbar}}
{{!-- end Title and Tags --}}

{{!-- Editor --}}
<div id='simditor-editor-div'>
  {{simditor-editor value=model.jot
                    update=(action (mut model.jot.content))
                    toolbar=simditorOptions.toolbar
                    editor=(mut editor)
                    onValuechanged=(action 'saveJotSlow')
                    onBlur=(action 'saveJotNow') }}
</div>

<div class='delete-icon-div'>
  {{#if model.jot.inTrash}}
      {{paper-icon 'delete-forever' class='delete-icon' title='Delete' click=(action 'destroyJot' model.jot)}}
    {{else}}
      {{paper-icon 'delete' class='delete-icon' title='Trash' click=(action 'trashJot' model.jot)}}
  {{/if}}
</div>

{{!-- {{paper-icon 'file-download' class='download-icon' title='Download Jot' click=(action 'dlJot' model.jot)}} --}}

{{!-- <div class='layout-row layout-fill'>
  <div class='flex-80'></div>
  <div class='flex-10'> --}}
  {{!-- </div>
  <div class='flex-10'>
    {{paper-icon 'delete-forever' class='delete-icon' title='Delete' click=(action 'destroyJot' model.jot)}}
  </div>
</div> --}}
{{!-- end Editor --}}
