<div id='editor-container'>

  {{!-- Title and Tags --}}
  <div id='title-row'>
    <div class='title-row-item'>
      <div class='label'>Title</div>
      {{input value=model.title
              class='title-input input'
              focus-out='saveJotNow'
              enter='saveJotNow'
            }}<br>
    </div>
    <div class='title-row-item'>
      <div class='label'>Tags</div>
      {{input value=model.tags
              class='tags-input input'
              focus-out='saveJotNow'
              enter='saveJotNow'
            }}<br>
    </div>
    <div id='data-state'>
      {{fa-icon 'check-circle-o' title='Save' style=statusIconStyle id='status-icon' click=(action 'saveJotNow')}}
    </div>
  </div>
  {{!-- end Title and Tags --}}


  {{!-- Editor --}}
  <div id='text-editor-container'>
    {{!-- {{#if (eq modelEditor 'simditor')}} --}}
      {{simditor-editor value=(mut model.text)
                        update=(action (mut model.text))
                        toolbar=simditorOptions.toolbar
                        editor=(mut editor)
                        onValuechanged=(action 'saveJotSlow')
                        onBlur=(action 'saveJotNow')
                        onDestroy=(action 'onDest') }}
    {{!-- {{/if}} --}}

    {{!-- {{#if (eq modelEditor 'markdown')}}
      {{textarea value=model.text classNames='markdown-textarea'}}
      {{markdown-to-html classNames='markdown-html' markdown=model.text setFlavor='github'}}
    {{/if}} --}}
  </div>

  <div class='destroy-jot-icon' title='Delete'>{{fa-icon 'times-circle' click=(action 'destroyJot' model)}}</div>
  {{!-- end Editor --}}

</div>
