<div id='editor-container'>

  <div id='title-row'>
    <div class='title-row-item'>
      {{input value=model.title
              class='title-input input'
              focus-out='save'
              enter='save'
              key-up='updateStatusIconColor'}}<br>
      <span class='label'>Title</span>
    </div>
    <div class='title-row-item'>
      {{input value=model.tags
              class='tags-input input'
              focus-out='save'
              enter='save'
              key-up='updateStatusIconColor'}}<br>
      <span class='label'>Tags</span>
    </div>
    <div id='data-state'>
      {{fa-icon 'check-circle-o' title='Save' style=statusIconStyle id='status-icon' click=(action 'save' bubbles=false)}}
    </div>
  </div>

  {{!-- {{textarea value=model.text classNames='markdown-textarea'}}
  {{markdown-to-html classNames='markdown-html' markdown=model.text setFlavor='github'}} --}}

  <div id='text-editor-container'>
    {{medium-content-editable value=model.text options=mediumEditorOptions onFinishedTyping=(action 'saveJotText')}}
    {{!-- {{medium-content-editable value=model.text options=mediumEditorOptions}} --}}
  </div>

  <div id='destroy-jot-icon' title='Delete'>{{fa-icon 'times-circle' click=(action 'destroyJot' model bubbles=false)}}</div>

</div>
