{{#paper-sidenav-container class='inner-sidenav'}}
  {{#paper-sidenav class='md-whiteframe-2dp'
                   name='left'
                   closeOnClick=false
                   open=leftSideBarOpen
                   onToggle=(action (mut leftSideBarOpen))}}

    {{!-- Logo, title, and login --}}
    {{#paper-toolbar}}
      {{#paper-toolbar-tools class='nav-title-toolbar layout-row layout-align-space-between md-whiteframe-2dp'}}
        <div class='flex-nogrowth'>
          {{#link-to 'jots' class='flex-nogrowth'}}<img src='assets/favicons/favicon-96x96.png' id='menu-logo'>{{/link-to}}
        </div>
        <div class='flex-nogrowth'>
          {{#link-to 'jots' class='flex-nogrowth nav-speed-jots-text'}}<nobr>Speed Jots</nobr>{{/link-to}}
        </div>
        <div class='flex-nogrowth'>
          {{login-component}}
        </div>
      {{/paper-toolbar-tools}}
    {{/paper-toolbar}}
    {{!-- / Logo, title, and login --}}

    {{!-- Top icons --}}
    <div class='layout-row layout-align-space-around-center nav-icons'>
      {{!-- TODO Add feature: download all apps in single text file as backup. --}}
      {{!-- <div class='flex-none'>
        {{paper-icon 'file-download' class='' title='Download all Jots' click=(action 'dlAllJots' model)}}
      </div> --}}
      <div class='flex-none'>
        {{paper-icon 'arrow-downward' title='Open all groups' click=(action 'openAllGroups')}}
      </div>
      <div class='flex-none'>
        {{paper-icon 'arrow-upward' title='Close all groups' click=(action 'closeAllGroups')}}
      </div>
      {{#draggable-object-target action='moveJotToGroup' class='flex-none'}}
        {{paper-icon 'content-copy' class='new-group-icon' title='Drop a jot on this icon to create a new group'}}
      {{/draggable-object-target}}
      <div class='flex-none new-jot-icon-div'>
        {{paper-icon 'add-circle-outline' class='new-jot-icon' title='Add new jot' click=(action 'newJot')}}
      </div>
    </div>
    {{!-- / Top icons --}}

    {{!-- Search & Results --}}
    {{#filter-content content=sortedNotInTrash properties='title tags' as |filtered query|}}
      {{paper-input id='search-input' value=query icon='search' label='Search titles & tags' onChange=(action (mut query))}}
      {{#if (not-eq query '')}}
        {{#each filtered as |jot|}}
          {{jot-menu-link jot=jot}}
        {{/each}}
      {{/if}}
      <div class='cpanel-after-link-group-spacer'></div>
    {{/filter-content}}
    {{!-- / Search & Results --}}

    {{!-- Groups in collapsible panels --}}
    {{#paper-content padding=false}}
      {{#each notInTrashGroupedJots as |group|}}
        {{#cp-panels name='allGroups' as |panels|}}
          {{#panels.panel name=group.value open=(if (eq group.value 'Not Grouped') true false) as |p|}}
            {{#draggable-object-target action='moveJotToGroup' groupTitle=group.value}}
              {{#p.toggle}}
                {{#paper-toolbar accent=true}}
                  {{#paper-toolbar-tools class='nav-group-toolbar'}}
                    {{#paper-menu isOpen=false offset='15 20' as |menu|}}
                      {{#menu.trigger}}
                        {{paper-icon 'create' class='group-panel-icon' title='Edit group title'}}
                      {{/menu.trigger}}
                      {{#menu.content width=6 as |content|}}
                        {{#content.menu-item onClick=null}}
                          {{paper-icon 'create' class='md-menu-align-target'}}
                          {{!-- placeholder sets oldGroupTitle var when editing group title --}}
                          {{paper-input value=group.value
                                        placeholder=group.items.[0].group
                                        onChange=(action (mut group.value))
                                        onBlur='editGroupTitle'}}
                          {{paper-icon 'forward' class='cursor-pointer'}}
                        {{/content.menu-item}}
                      {{/menu.content}}
                    {{/paper-menu}}
                    {{group.value}}
                    <span class='flex'></span>
                    {{#paper-button iconButton=true}}
                      {{paper-icon (if p.isOpen 'keyboard-arrow-down' 'keyboard-arrow-right')}}
                    {{/paper-button}}
                  {{/paper-toolbar-tools}}
                {{/paper-toolbar}}
              {{/p.toggle}}
              {{#p.body}}
                {{#each group.items as |jot|}}
                  {{#draggable-object content=jot}}
                    {{#paper-content padding=false}}
                      {{jot-menu-link jot=jot}}
                    {{/paper-content}}
                  {{/draggable-object}}
                {{/each}}
                <div class='cpanel-after-link-group-spacer'></div>
              {{/p.body}}
            {{/draggable-object-target}}
          {{/panels.panel}}
        {{/cp-panels}}
      {{/each}}

      {{!-- Trashed jots --}}
      {{#if inTrashJots}}
        {{#cp-panels name='allGroups' as |panels|}}
          {{#panels.panel name='trash_speed_jots_sdfml098' open=false as |p|}}
            {{#draggable-object-target action='moveJotToTrash'}}
              {{#p.toggle}}
                {{#paper-toolbar id='trashToolbar'}}
                  {{#paper-toolbar-tools class='nav-group-toolbar'}}
                    {{paper-icon 'delete-forever' class='group-panel-icon' title='Empty trash' click=(action 'emptryTrash')}}
                    Trash
                    <span class='flex'></span>
                    {{#paper-button iconButton=true}}
                      {{paper-icon (if p.isOpen 'keyboard-arrow-down' 'keyboard-arrow-right')}}
                    {{/paper-button}}
                  {{/paper-toolbar-tools}}
                {{/paper-toolbar}}
              {{/p.toggle}}
              {{#p.body}}
                {{#each inTrashJots as |jot|}}
                  {{#draggable-object content=jot}}
                    {{#paper-content padding=false}}
                      {{jot-menu-link jot=jot}}
                    {{/paper-content}}
                  {{/draggable-object}}
                {{/each}}
                <div class='cpanel-after-link-group-spacer'></div>
              {{/p.body}}
            {{/draggable-object-target}}
          {{/panels.panel}}
        {{/cp-panels}}
      {{/if}}
      {{!-- / Trashed jots --}}

    {{/paper-content}}
    {{!-- / Groups in collapsible panels --}}
  {{/paper-sidenav}}

  {{!-- Toggle left nav icon  --}}
  {{#paper-sidenav-toggle name='left' as |toggleAction|}}
    {{paper-icon 'menu' class='hide-gt-sm toggle-nav-icon' title='Toggle menu' click=(action toggleAction)}}
  {{/paper-sidenav-toggle}}
  {{!-- / Toggle left nav icon  --}}

  {{#paper-content id='simditor-float' class='editor-div' padding=true}}  {{!-- id='simditor-float' is used by simditor script --}}
    {{outlet}}
  {{/paper-content}}

{{/paper-sidenav-container}}
