<span class='container'>

  <span class='flex-item' id='menu'>
    {{#link-to 'jots' class='page-title'}}<p id='menu-title'>Jots</p>{{/link-to}}

    {{!-- Jots Menu --}}
    {{#if session.isAuthenticated}}
      {{#filter-content content=sortedModel properties='title tags' as |filtered query|}}
        {{input value=query title='Filter jots by title and tags.' placeholder='search jots...' id='search-input'}}

        {{#each filtered as |jot|}}
          <div id='jot-link-{{jot.id}}' class='menu-jot-link' title='{{jot.title}}'>
            <nobr>{{link-to (string-to-length jot.title 18 '...') 'jots.jot' jot.id}}</nobr>
          </div>
        {{/each}}

      {{/filter-content}}
      <p class='new-jot-icon' title='Add new jot'>{{fa-icon 'plus-circle' click=(action 'newJot' bubbles=false)}}</p>
    {{/if}}
    {{!-- end Jots Menu --}}

    {{!-- Login Component --}}
    {{!-- {{login-options}} --}}
    {{login-component}}
    {{!-- end Login Component --}}

    {{!-- Development icons --}}
    {{!-- {{#if devUser}}
      <p id='devUser-nav-icons' class='nav-icons'>
        <a id='firebase-icon' class='nav-icon' title='Firebase Console' href='https://console.firebase.google.com/' target='_blank'>
          {{fa-icon 'fire'}}
        </a>
      </p>
    {{/if}} --}}
    {{!-- end Development icons --}}

  </span>


  <span class='flex-item' id='editor'>
    {{outlet}}
  </span>

</span>
