<div class='container'>

  <div class='flex-item' id='menu'>

    <div id='menu-title-div'>
      {{#link-to 'jots'}}<p id='menu-title-text'>Jots</p>{{/link-to}}
    </div>

    {{!-- Jots Menu --}}
    {{#if session.isAuthenticated}}
      {{#filter-content content=sortedModel properties='title tags' as |filtered query|}}
        {{input value=query title='Filter jots by title and tags.' placeholder=' search jots...' id='search-input'}}

        {{#each filtered as |jot|}}
          <div id='jot-link-{{jot.id}}' class='menu-jot-link' title='{{jot.title}}'>
            <nobr>{{link-to (string-to-length jot.title 18 '...') 'jots.jot' jot.id}}</nobr>
          </div>
        {{/each}}
      {{/filter-content}}

      <div class='new-jot-icon-div'>
        {{fa-icon 'plus-circle' class='new-jot-icon' title='Add new jot' click=(action 'newJot' bubbles=false)}}
      </div>
    {{/if}}
    {{!-- end Jots Menu --}}

    {{!-- Login Component --}}
    {{!-- {{login-options}} --}}
    <div id='menu-login-div'>
      {{login-component}}
    </div>
    {{!-- end Login Component --}}

  </div>


  <div class='flex-item' id='editor'>
    {{outlet}}
  </div>

</div>
