<h3>User Settings from Database</h3>
Theme - {{model.theme}}<br>
Font Size - {{model.fontSize}}<br>
Last Login - {{model.lastLogin}}

<h3>Application wide Torii session available user info</h3>
uid - {{session.currentUser.uid}}<br>
email - {{session.currentUser.email}}<br>
photoURL - {{session.currentUser.photoURL}}
